body{
    background-color: brown;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    font-size:150%

}
h1{
    color: white;
}
h2{
    color: white;
}
p{
    color: white;
}


