body{
    background-color: brown;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    font-size:150%

}
h1{
    color: white;
}
h2{
    color: white;
}
p{
    color: white;
}
.card{
    background-color: rgb(43, 220, 226);

}
.id1{
    width: 320px;
    height: 320px;
}
.id2{
    width: 250px;
    height: 250px;
}

